<!-- python3 -m http.server -->
<!-- Ava käsurea aken või terminal.
Mine kataloogi, kus su index.html fail asub.
Sisesta käsk python -m http.server (see käivitab lokaalse veebiserveri pordil 8000).
Ava veebibrauser ja mine aadressile http://localhost:8000.
 -->

 <!DOCTYPE html>
 <html lang="en">
     <head>
         <meta charset="UTF-8">
         <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <title>Art-interface</title>
         <link rel="stylesheet" href="/static/css/styles.css">        
     </head>
 
 <body>
     <header>
         <div id="headersText">ART INTERFACE</div>
     </header>
 
     <main>
         <div class="themeToggleButtons">
            <button class="oval" type="button" id="themeToggle">Toggle Light/Dark</button>
         </div>
 
         <!-- name atribuut: Seda kasutatakse andmete saatmisel serverile, et tuvastada eri vormielementide väärtusi. Näiteks kui su textarea elemendil on name="inputString", 
            siis server saab päringuga kaasa saadetud andmed tuvastada selle nime järgi. -->
         <form action="/decoded-encoded" id="myForm" method="POST">
             <textarea type="text" name="inputString" id="userInput" placeholder="Enter your coded picture or ASCII art here" rows="22" cols="70"></textarea>
             <div class="buttons">
                 <button class="oval" type="submit" name="buttonAction" value="decode" id="decodeButton">Decode</button>
                 <button class="oval" type="submit" name="buttonAction" value="encode" id="encodeButton">Encode</button>
                 <!-- type="button" vs type="submit":
type="button": Määrab nupu, mis ei esita vormi vaikimisi. Seda kasutatakse tavaliselt koos JavaScriptiga, et teostada mingi tegevus, 
kui nuppu vajutatakse (nagu ülalolevas näites).
type="submit": Määrab nupu, mis esitab vormi vaikimisi. Kui seda tüüpi nuppu vajutatakse, saadetakse vormi andmed määratud action URL-ile 
kasutades määratud method meetodit. 

Siin on oluline osa name="action" value="decode" ja name="action" value="encode". Nii saadetakse action nimega parameeter, mille väärtus on 
kas "decode" või "encode", sõltuvalt sellest, kumb nupp oli vajutatud. Serveris saad siis kontrollida, kumb tegevus on soovitud, näiteks Go koodis-->
             </div>
         </form>

         <div id="resultArea">
            {{if .Error}}
                <p class="error">{{.Error}}</p>
            {{else}}
                <p id="information">{{.Result}}</p>
            {{end}}
        </div>
         
     </main>
 
     <footer>
         <section>
             <p>This page is made by Reigo Reimets in 2024</p>
             <ul id="footer-icons">
                 <li id="socialLogos"><a href="https://www.instagram.com/reigo.reimets"target="_blank"><img src="/static/icons/instagram_logo.png" alt="Icon: Instagram icon" height="20"> </a></li>
                 <li id="socialLogos"><a href="https://www.facebook.com/reigo.reimets"target="_blank"><img src="/static/icons/facebook-logo2.png" alt="Icon: Facebook icon" height="20"> </a></li>
                 <li id="socialLogos"><a href="https://www.linkedin.com/in/reigoreimets/"target="_blank"><img src="/static/icons/linkedin-logo2.png" alt="Icon: LinkedIn icon" height="20"> </a></li>
             </ul>
         </section>
     </footer>
 
     <script src="/static/js/theme-switcher.js"></script>
 
 </body>
 </html>